rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global allow while debugging
    match /{document=**} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow get, list: if isOwner(userId);
      allow create, update: if isOwner(userId);

      match /history/{msgId} {
        allow list, get: if isOwner(userId);
        allow create: if isOwner(userId);
      }
    }

    match /global_insights/{docId} {
      allow read, write: if true;
    }

    match /system/heartbeat {
      allow get: if true;
    }
  }
}
